# ===========================
# Visual Studio files
# ===========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===========================
# Build results
# ===========================
bin/
obj/
x64/
x86/
out/

# ===========================
# NuGet packages
# ===========================
packages/
*.nupkg
project.lock.json
artifacts/

# ===========================
# VS Code files
# ===========================
.vscode/

# ===========================
# Windows files
# ===========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk